/*global*/
@font-face {
    font-family: 'UbuntuBold';
    src: url('./../css/fonts/ubuntu-b.eot');
    src: url('./../css/fonts/ubuntu-b.eot') format('embedded-opentype'),
        url('./../css/fonts/ubuntu-b.woff') format('woff'),
        url('./../css/fonts/ubuntu-b.ttf') format('truetype'),
        url('./../css/fonts/ubuntu-b.svg#UbuntuBold') format('svg');
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('./../css/fonts/ubuntu-l.eot');
    src: url('./../css/fonts/ubuntu-l.eot') format('embedded-opentype'),
        url('./../css/fonts/ubuntu-l.woff') format('woff'),
        url('./../css/fonts/ubuntu-l.ttf') format('truetype'),
        url('./../css/fonts/ubuntu-l.svg#UbuntuLight') format('svg');
}
@font-face {
    font-family: 'AbelRegular';
    src: url('./../css/fonts/abel-regular.eot');
    src: url('./../css/fonts/abel-regular.eot') format('embedded-opentype'),
         url('./../css/fonts/abel-regular.woff') format('woff'),
         url('./../css/fonts/abel-regular.ttf') format('truetype'),
         url('./../css/fonts/abel-regular.svg#AbelRegular') format('svg');
}
body { 
    font-family: "UbuntuLight", serif ;
    color: #615046;
}
.ui-shadow{
    text-shadow: none!important;
}
a:link 
{ 
    text-decoration:none; 
} 

table thead{
    font-family: 'AbelRegular';
}

.ui-btn a,a:link,a:visited,a:hover,a:active{
    color: white;
    text-shadow: none;
}
/*.ui-shadow-inset{
    box-shadow: none;
}
html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus{
     -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow:none;
}*/

div *{
    box-shadow: none!important;
}

/** fixed the footer to bottom **/
[data-role=footer]{bottom:0; position:fixed!important; top: auto !important; width:100%;}  

/** select field **/
.ui-field-contain{
    border: none;
}
.ui-field-contain label{
    text-align: center;
}

.ui-field-contain .ui-select .ui-btn{
    background-color: #F4F1F0;
    border: solid 1px #F4F1F0;
    font-family: "UbuntuLight"!important;
    font-size: 0.8em;
}





/*--login--*/
#conn p{
    font-size: 0.75em;
}

.loginForm .ui-checkbox label{
    font-size: 0.7em!important; 
}



#conn label{
    font-size: 1.125em;
    color: #615046;
}

#btPwdLost{
    font-size: 0.7em;
}

#menu-connex img{
    float: left;
    left: 35px;
    position: relative;
}
#slider-label{
    font-size: 0.7em!important;
}



.loginForm ui-input-text{
    width: 75%;
}
#menu-connex{
    position: relative;
    margin-top: 25px;
}
#menu-connex div{
    float: right;
    right: 35px;
    padding-top: 7px !important;
}

#menu-connex .ui-btn,.ui-input-btn{
    background-color: #615046;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: normal;
    height: 25px;
    width: 88px;
    border:none;
    padding: 2px;
    margin: auto;

}

.menu-connex div{

    padding-top: 7px;
}

.login{

    max-width: 300px;
    margin: auto;
    margin-top: 25px;
}

#logo-ebz {
    padding-top: 15px;
    text-align: center;
}

/*-- Filter --*/
#bz-filter .ui-panel-inner{
   padding: 0px;
}

#bz-filter .ui-radio label,#bz-filter .ui-checkbox label{
    font-size: 9pt;
    font-family: 'UbuntuLight';
}
.D-filter{
    
}
.T_F{
    font-family: 'AbelRegular';
    font-size: 10pt;
    height: 20px;
    background-color: #615046;
    color:white;
    padding-left: 0.3em;
    text-shadow: none;
}

/*--page--*/
/*header*/
.header-item{
    float: left;
    background-repeat: no-repeat;
    width:33.3333%;
    height: 47px;

}

.header-item img{
    height: 47px;
}

.header-left{
    text-align: left;
}
.header-center{
    text-align: center;
}
.header-right{
    text-align: right;
}
.bt-aide{
    background-image: url(./../css/img/pictos/aide.min.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    height: 38px;
    right: 50px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    width: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    

}

.bt-aide-active{
   background-position: -12px 0px;
}
.bt-aide img{
    width: 25px;
}

#popup-help-acc .ui-btn{
    padding-top: 7px;
}

/* content */
.ui-content{
    padding: inherit;
    padding-top: 0px!important;
    margin-bottom: 40px;
}

/** init and loader **/
.bzLoader{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: absolute;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    text-align: center;
    padding-top:20px;
}

#vcloture{
font-size:8pt;
width:100%;
padding-left:5px;
}

.not-compatible{
    position:absolute;
    height:100%;
    width:100%;
    left:0px;
    top:0px;
    z-index:10000;
    background-color: rgba(255,255,255,1);
}

/**------note conj-----**/
#wrapper-noteTPL h2,#wrapper-noteTPL h3{
    color: #615046;
    font-family: 'UbuntuLight';
    font-size: 1em;
    height: 30px;
    padding-top: 3%;
    text-align: center;
    text-shadow: none !important;
    width: 100%;
}

#wrapper-noteTPL h2{
    background-color: #BDD36A; 
}

#wrapper-noteTPL h3{
    background-color: #D4CABF;
    text-align: left;
    padding-left: 5px;
}

.note-content{
    padding-left: 15px;
    padding-right: 15px;
}

.popup-actu-cts{
    padding: 25px;
    background-color: white;
}

#line-qt-mini{
    font-size: 8pt;
    padding-left: 15px;
}


/*-------- footer -------*/
.footer-item{
    float: left;

    width:24.6%;
    height: 47px;
    margin: auto;


}
.ui-footer{
    height: 45px;

}

.ui-footer .footer-item{
    border-right: solid 1px #D4CABF ;
}

.ui-footer .footer-item:last-child{

    border-right:none;
}

.link-footer{
    display: block;
    width: 100%;
    height: 47px;
    text-align: center;
}

.link-footer div{
    height: 47px;
    width: 54px;
    background-repeat: no-repeat;
    margin: auto;

}

.bt-matif{
    background-image: url(./../css/img/pictos/marches.min.svg);
    /*background-position: -4.5em center;*/

}
.bt-offre{
    background-image: url(./../css/img/pictos/offres.min.svg);
    /*background-position: -77px center;*/
    /*background-size: 154px 47px;*/

}
.bt-menu-bas-actif{
    background-position: -60px;
}
.bt-tel{
    background-image: url(./../css/img/pictos/tel.min.svg);
    text-align: center;
    /*background-position: -77px center;*/
}

.bt-filtre{

    background-image: url(./../css/img/pictos/filtre.min.svg);
    background-position: 0px center;
    /*background-position: -77px center;*/

}




/*---- end footer ----*/

.acc{
    margin-left: 12px;
}

.logo{

}








.blocks{
    width: 100%;
    height: 90px; 
    /*    background-color: rgba(0,255,0,.5);*/
    clear: both;
    margin: .1%;
    position: relative;
    font-size: 1em;
    margin-bottom: 1em;

}
.block{
    float: left;
    width: 100%;
    margin: .2%;

    /*    background-color: rgba(255,255,0,.3);*/
    position: relative;

}

.clear{
    clear: both;
}

/* blocks */

.header-block{
    height: 38%;
    background-color: #d4cabf;
    width: 100%;
    /*border-top: solid 1px #84B819;
    border-bottom: solid 1px #84B819;*/
    font-size: 0.7em;
    text-align: center;
    text-shadow: none;
}

.content-block{
    height: 72%;

}

.block-vertical-spacer{
    height: 3%;
    width: 100%;
}

.ui-body-c,.ui-overlay-c{
    background-color: white!important;
}


.blocks .content-block .ui-grid-b .ui-block-a,.ui-block-b{
    border-right: solid 1px #CCC2BC;

}

.ui-grid-b{
    overflow: inherit;
}


.refresh-matif{
    background-image: url("./../css/img/pictos/refresh.min.svg");
    display: inline-block;
    float: left;
    height: 30px;
    left: 1em;
    position: relative;
    width: 30px;
    top: 0.18em;
}
.refresh-matif2{
    background-size: 100% auto;
    background-position: 1px 0px;
    background-repeat: no-repeat;
    height: 30px !important;
    left: 0.6em;
    position: absolute!important;
    top: 0.2em!important;
    width: 30px;
    z-index: 10;
}

.header-block span{
    position: relative;
    top:0.9em;
    font-family: "UbuntuBold", serif;
}
.header-block-two-lines span{
    position: relative;
    top:0.2em;
    left: -1.4em;
    font-weight: bold;
}

/* acc marches */




.line-two{
    font-family: "UbuntuLight", serif!important;
}

.inside-block{
    float: left;
    height:44%!important;
    padding-top: 10%;


}

.inside-block div{
    background-repeat: no-repeat;
}

.acc-indice-marches{
    width: 10px;
    height: 12px!important;
    background-image: url("./../css/img/pictos/flechesmatif.min.svg");
    margin-left: 5px;


}
.taux{
    display: inline-block;
    font-size: 1.25em;
    position: relative;
    text-align: center;
    width: 100%;
}
.ech{
    font-size:11pt;
}
.inside-block-wrapper{
    width: 80%;
    margin: auto;
    height: 60%!important;
    margin-left: 18%;
}
.inside-block-last,.inside-block-first{
    width: 15px;
    /*margin-left: 3px;
    margin-right: 3px;*/
    padding-top: 15%;
}
.inside-block-last{
    text-align: left;

}
.inside-block-first{
    text-align: right;

}
.acc-indice-marches-low{
    background-position: -23px 0px;
}
.acc-indice-marches-equal{
    background-position: -13px 0px;
}
.acc-indice-marches-up{
    background-position: 0px 0px;
}

.t-marches td{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    
}

.acc-cult-marches{
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}
.ct-cad-lock{
    display: inline-block;
    width: 14px;
    height: 20px;
    position: relative;
    top: -2px;
    background-image: url("./../css/img/pictos/cadenas.min.svg");
    background-position: -14px 0px;
    background-size: 200%;

}


.acc-marches-cad-unlock{
    background-position: 0px 0px;
}

.wrapper-inside-block-low{
    color:#EC1C24;
}
.wrapper-inside-block-equal{
    color: #615046;

}
.wrapper-inside-block-up{
    color:#84B819;
}


.ui-grid-b-offres {
    text-align: center;
    font-size: 0.93em;
}
.ui-grid-b-offres-cult{
    font-size: 0.83em;
}

/* ui-list */
.ui-collapsible{
    margin-bottom: 0.1em;

}
.ui-collapsible-heading{
    color: #ffffff;

}
.ui-collapsible-heading-collapsed{
    color: #615046;
}
.ui-collapsible a{
    
    border: medium none;
    color: inherit !important;
    font-family: 'UbuntuBold' !important;
    font-size: 1em;
    height: 2em;
    padding-top: 1em;
    text-align: center !important;
    text-shadow: none !important;
    margin-left: 1.2em;
    margin-right: 1.2em;

}

 
.ui-collapsible-heading-toggle{
  
    text-shadow:none!important;
    font-family:'UbuntuBold'!important;
    font-size: 0.8em!important;
    color: inherit!important;
    text-align: center!important;
    border: none;
}
.matif-popup,.popup-list{
    min-width: 250px;
    min-height: 110px;
    background-color: #ffffff;
    padding: 0.2em;
    font-size: 0.8em;
    
}


.matif-popup div{
    background-color: #615046;
    margin: 1em;
    color: #ffffff;
    text-shadow: none;
    font-family:'UbuntuLight';
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

.popup-list{
    text-shadow: none;
    padding: 0em!important;
    font-size: 0.9em;
}


.popup-list h3{
    background-color: #D4CABF;
    height: 4em;/*30px*/
    font-size: 0.9em;
    text-align: center;
    padding: 0.5em;
    margin: 0px;
    
}



.popup-ico-graph{
    background-image: url("./../css/img/pictos/courbe-white.min.svg");
    background-repeat: no-repeat;
    margin-left: 0.5em;
}
.popup-ico-ct{
    background-image: url("./../css/img/pictos/cadenas-brown.min.svg");
    background-repeat: no-repeat;
     margin-left: 0.6em;
     background-size: 90% auto;
}

.popup-ico-visu{
    background-image: url("./../css/img/pictos/oeil.min.svg");
    background-position: center center!important;
    background-size: inherit!important;
    margin-left: 0.5em;
}

.popup-ico-signct{
    background-image: url("./../css/img/pictos/signct.min.svg");
    background-position: center center!important;
    background-size: inherit!important;
    margin-left: 0.5em;
}

.matif-popup div span{
    background-repeat: no-repeat;
    /*background-position: -16px center;
    background-size: 125% auto;*/
    display: inline-block;
    height: 30px;
    width: 30px;
    
    
}
.matif-popup div span:last-child{
    width: 80%;
    float: right;
    margin-top: 5px;
    
}
.matif-popup .ui-btn-right,.popup-list .ui-btn-right{
    position: absolute;
    top: 0px;
    right:10px;
    font-family:  'UbuntuBold';
    color: #615046;
    font-size: 1.5em;
}

.popup-valid-ct{
    text-align: center;
}


.valid-ctsign .ui-btn{
  
    display: inline-block;
    padding-top: 0.5em;
}
.popup-valid-ct h3{
    height: inherit;
}

#popup-content{
    padding: 10px;
    text-align: left;
}

#txt-maj-info{
    display: inline-block;
    font-size: 10pt;
    margin: auto;
    text-align: center;
    width: 90%;
}

.marches-subtitle{
    background-color: #BDD36A;
    /*font-family: 'UbuntuLight'!important;*/
    height: 2em;
    padding-top: 1em;
    color: #615046!important;
}

#pros-depots-collaps h2,#pros-ferme-collaps h2{
    background-color: #BDD36A!important;
}
.depotel{
text-align:center;
}
.padding-bottom-plus{
    padding-bottom: 1em;
}

.ui-icon-plus{
    background-color: #D4CABF !important;  
}

.ui-icon-plus-bz{
    background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C5%209%2C5%209%2C0%205%2C0%205%2C5%200%2C5%200%2C9%205%2C9%205%2C14%209%2C14%209%2C9%2014%2C9%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    display: inline-block;
    height: 14px !important;
    margin-left: 0.5em;
    width: 14px;
    background-position: center center;
    background-repeat: no-repeat;
}

.ui-icon-minus-bz{
    background-image:url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%224px%22%20viewBox%3D%220%200%2014%204%22%20style%3D%22enable-background%3Anew%200%200%2014%204%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20fill%3D%22%23FFF%22%20width%3D%2214%22%20height%3D%224%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    display: inline-block;
    height: 14px !important;
    margin-left: 0.5em;
    width: 14px;

     background-position: center center;
    background-repeat: no-repeat;
}
.not-border-td{
    border: none!important;
}
.with-border-td{
    border-bottom: solid 1px red!important;
}

.ui-icon-minus{
     background-color: #83B81A!important;
}

.ct-cad-unlock{
   /* background-size: 200% auto;
    display: inline-block;
    height: 20px;
    width: 14px;*/
    
}


.header-block-ct{
    height: 30px;
    padding-top: 12px;
    font-size: 1em!important;
    margin-top: 0px;
}

.block-ct, .block-hor-layout *{
    text-shadow: none;
    color: #615046;
    height: 100%;
   
}
.block-ct h2, .block-hor-layout h2{
    background-color: #EAE5DE;
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0px;
}

.sticky-header{
/*     background-color: #EAE5EE;*/

    font-size: 1em;
    text-align: center;
    margin-bottom: 0px;
}

#sticky-header {
        background: #222;
        border-bottom: solid 1px #111;
        border-top: solid 1px #444;
        padding: 1%;
        position: relative;
        z-index: 1;
    }
    .sticky-header.fixed {
        position: fixed;
        top: 55px;
        width: 98%;
        z-index: 0;
    }
    .sticky-header.fixed.absolute {
        position: absolute;
    }

.block-ct table{
    border-left: 0px;
    border-bottom-width: 0.5px;
    border-right: solid  1px #F4F1F0;
    width: 100%;
    font-size: 0.8em;
    border-collapse:collapse;
}

.block-ct table td{
    padding-left: 1em;
    border-right: solid 1px #EAE5DE;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.block-ct table tr:nth-child(even){
    background-color: #F4F1F0;
}


.block-hor-layout table{
    border-left: 0px;
    border-bottom-width: 0.5px;
    width: 100%;
    font-size: 0.8em;
    border-collapse:collapse;
}

.block-hor-layout table td{
    padding: 0.5em;
    padding-top: 0.6em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    border-bottom: solid 1px #EAE5DE;
}

.block-hor-layout table th{
    border-bottom: solid 2px #EAE5DE;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}



.bt-ct-to-lock{
    background-color: #615046;
    width: 44px;
    height: 47px;
    background-image: url("./../css/img/pictos/bt-ct-to-lock.min.svg");
    background-repeat: no-repeat;
}
.td-wrapper-bt{
    padding: 0.6em!important;
    
}

.notif-menu{
    display: inline-block;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    background-color:#83B81A;
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
}

.notif-menu span{
    position: relative;
    top: 0.3em;
   
}

/** aide **/
#popup-aide{
    padding:18px;
}
.wrapper-aide{
width:320px;
height:480px;
background-repeat:norepeat;

}
.aide-1{
    background-image: url(./../css/img/aide/aide1.png);
}

.aide-2{
    background-image: url(./../css/img/aide/aide2.png);
}

.aide-3{
    background-image: url(./../css/img/aide/aide3.png);
}
.aide-4{
    background-image: url(./../css/img/aide/aide4.png);
}

.offline{
    font-size:7pt;
    color:red;
    padding-left:5px;
    padding-right:5px;
}


/** change icon in collapse **/
.ui-icon-plus:after{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-color: inherit;
    margin-right: 1.5em;
}

.ui-icon-minus:after{
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%228px%22%20height%3D%2212px%22%20viewBox%3D%220%200%208%2012%22%20style%3D%22enable-background%3Anew%200%200%208%2012%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%222%2C0%200%2C2%204%2C6%200%2C10%202%2C12%208%2C6%20%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: inherit;
    margin-right: 1.5em;
}






#header-block-ct{
    background-image: url("./../css/img/pictos/bz.min.svg");
    background-size:10% auto;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

#header-block-ct span{
    position: relative;
    left: -15%;
}

.content-block table{
    width: 100%;
    font-size: 0.8em;
}
.content-block table td{
    text-align: center;
}



.content-block table td:first-child{

    padding-left: 1.5em;
    width: 25%;
}

.content-block table td:last-child{
    text-align: right;
    padding-right: 1.5em;
    width: 25%;
}

.indice-market{
    width: 15%;
    text-align: center;
    margin: auto;
    /*    background-color: rgba(150,150,150,0.3);*/
}

.indice{
    width: 20px;
    height: 20px;
    background-image: url("./../css/img/pictos/indic-t-marches.min.svg");
    /*        background-size:50% auto;*/
    background-repeat: no-repeat;

}



.padlock{
    width: 16px;
    height: 20px;
    background-image: url("./../css/img/pictos/padlock.min.svg");
    /*        background-size:50% auto;*/
    background-repeat: no-repeat;
}

.lock{
    background-position: right center;
}

.unlock{
    background-position: left center;
}

.blocks-transact{
    width: 100%;
}

.block-transact{
    width: 100%;
}
.block-transact table td{
    /*width: 33.333%;*/
}

.header-content{
    text-align: center;
    font-size: 0.7em;
}

.header-content-camp{
    font-size: 1em;
}


.tables-offres tr:nth-child(even){
    background: #CCC;
}

.tables-offres tr:nth-child(odd){
    background: #FFF;
}

#wrapper-form{
    padding-left:20px;
    padding-right:20px;
}

.ui-btn-active{
    background-color:#84B819!important;
}


.nav-sous{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
   
}
.nav-sous .ui-block-b{
    border:none;
}

.ui-header{
    /*height: 50px;*/

    border-bottom: solid 1px #D4CABF !important;

}

.ui-header,.ui-footer{
    background-color: #FFFFFF;
}
/* add class for fixe the height off content*/
/*.sc-content{
position: absolute;
top: 46px;
right: 0px;
bottom: 47px;
left: 0px;
}*/

.prod-derive{
    margin-top: inherit!important;
}
.prod-deriv-content{
    border-right: solid 1px #F4F1F0;
    border-left: solid 1px #F4F1F0;
    border-bottom: solid 1px #F4F1F0;
    margin: auto;
    width: 75%;
    text-align: center;
}
.collap-produit-derive .ui-collapsible-content :first-child{
    border-top: solid 1px #F4F1F0;
}

.prod-deriv-content div{
    border: none!important;
}
/* panel filter */
.ui-panel{
    width: 13em;
}

.bt-filter{
    width: 100%;
}

/* panel menu */
.ui-panel-position-right{
    background-color: #d4cabf!important;
}
.bz-menu{
    height: 430px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.dbzuser{
    width:95%;
    text-overflow:ellipsis;
    overflow:hidden;
    padding-left:5px;
}
.bz-menu-header{
    text-align: center;
    margin-top: 1em;
}
#bz-menu{
    border-left: solid 1px #FFFFFF;
}
#bz-menu .ui-panel-inner{
    padding: inherit!important;
    padding-top: 1em;
}

.bz-menu a{
    width: 100%;
    text-align: center;
    display:inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 1)!important;
}
.close-menu{
    left: 0.2em;
    position: absolute;
    top: -0.2em;
}


.menu-list{

    padding-top: 1em;
    padding-bottom: 1em;
}

.ui-content-menu-popup{
    padding: 0.8em;
}



.D-filter  .ui-radio .ui-btn{
    background-color: #FFFFFF;
    border: medium none;
    height: 10px;
    text-shadow: none;

}
.D-filter  .ui-checkbox .ui-btn{
    background-color: #FFFFFF;
    border: medium none;
    height: 10px;
    text-shadow: none;

}

.bt-filter div{
    text-align: center;
    width: 80%;
    margin: auto;
}

.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after {
    /*margin: -4px 2px 0;*/
}

/** offres list view **/
.ui-listview li a{
    height: 22px;
}
.ui-listview a,.ui-listview a:link,.ui-listview a:visited,.ui-listview a:active{
    font-family: "UbuntuLight";
    font-size: 0.8em;
    color:#615046!important;
}

.ui-li-divider{
    text-align: center!important;
    font-family: "UbuntuBold";
    font-size: 0.8em!important;
    color:#615046!important;
    
}

.list-offre-comm{
    text-align: center;
    font-size: 0.7em;
    margin-top: 1em;
    margin-left:0.3em;
    margin-right: 0.3em;
}


.list-view-txt-center{
     display: inline-block;
    margin-left: 5.5em;
    margin-top: 0.2em;
}
.fixation{
    margin-left: 2em;
}

.ui-icon-carat-r:after path{
     stroke: red; 
}

.label-recap{
    position: relative;
    top:-0.5em;
}

/** execution list view bz **/
.fleches-list-view{
    background-image: url("./../css/img/pictos/fleches-list-view.min.svg");
    background-position: -6px 0px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    
}

/**transaction **/
.transaction-detail table {
    
}


#txt-horaire{
    font-family: ubuntulight;
    font-size: 6pt;
    padding-left: 5px;
    position: relative;
    top: -20px;
}



/**-------charts---------**/
.flechenav{

    width: 7%;
    float: left;
    height:320px;
    margin: 4px;
    background-image: url('./../css/img/pictos/flechenav.min.svg');
    background-repeat: no-repeat;
}
#highstock{
    width: 97%;
    margin: auto;
    margin-top:5%; 
    
}
#mygraph .ui-content{
    padding-top: 0px;
}
#bt-chart-close-wrapper{

    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 85px;

}
#mygraph .header-content .ui-btn {
    margin: inherit;
    padding: inherit;
    font-size: 18pt;


}

.asterix{
    font-size: 0.6em;
}

/*overlay help*/
ui-popup{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    top: 50%;
    left:50%;


}
.ui-overlay-d{
    background-color: #615046!important;
}
.ui-body-d{
    color: white;
    font-weight: bold;
    background-color: transparent 0 #615046;
    text-shadow: none;
}
.ui-overlay-d.in{
    opacity: 0.75;
}




.txt-help-content{
    padding: 1em;
    font-size: 1em;
    width: 70%;
    margin: auto;
    text-align: justify;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.5);
    z-index: 2000;
}



/** custom ico ebz for jquery widget **/

.ico-custom-ebz{
    display: inline-block;
    height: 30px;
    position: absolute;
    top: 1em;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.ico-titre-ebz{
    /*position: inherit; V1 */
    /* V2*/
    position: relative;
    top: 0.7em;
}
.ico-custom-bbaz{
    background-image: url('./../css/img/pictos/bbaz.min.svg');

}
.ico-custom-bzap{
    background-image: url('./../css/img/pictos/bzap.min.svg');

}
.ico-custom-bbeuz{
    background-image: url('./../css/img/pictos/bbeuz.min.svg');

}
.ico-custom-bosmoz{
    background-image: url('./../css/img/pictos/bosmoz.min.svg');

}
.ico-custom-bzen{
    background-image: url('./../css/img/pictos/bzen.min.svg');

}
.ico-custom-bzenith{
    background-image: url('./../css/img/pictos/bzenith.min.svg');

}
.ico-custom-optimiz{
    background-image: url('./../css/img/pictos/optimiz.min.svg');

}
.ico-custom-securiz{
    background-image: url('./../css/img/pictos/securiz.min.svg');

}

.secuopti-valid{
    background-color: #FFFFFF;
    border-radius: 15px;
    float: left;
    color: #83B81A;
    display: inline-block;
    font-size: 12pt;
    height: 20px;
    left: 30px;
    line-height: 1.5em;
    position: relative;
    text-align: center;
    top: -30px;
    width: 20px;
}

/*.ui-icon-custom-carrat-r{
    background-image: url('./../css/img/pictos/back.min.svg')!important;
    background-repeat: no-repeat!important;
    
}*/

h6{
    margin-top: 1em;
    margin-bottom: 0px;
    font-family: "UbuntuBold";
}

/** alertes messages **/
.alertes{
    color: red;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

/*modification pour flipswitch on iphone*/
.secuopti-valid{
    top:-25px;
    line-height:1.3em;
}
#sous-pdts-derives .ui-flipswitch .ui-btn.ui-flipswitch-on{
text-indent:-5em;
}

/* fin modif flipswitch */

/* correction pour offre liste view click */
#wrapper-offresTPL .ui-button-active{
    background-color:white;
}


@media ( min-width: 20em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .t-marches td,
    .t-marches th,
    .t-marches tbody th,
    .t-marches tbody td,
    .t-marches thead td,
    .t-marches thead th {
        display: table-cell;
        margin: 0;
        font-size: 0.7em;
    }

    .t-marches  th.ui-table-priority-1,
    .t-marches td.ui-table-priority-1 {
        display: table-cell;
    }
    .t-marches  th.ui-table-priority-2,
    .t-marches td.ui-table-priority-2 {
        display: none;
    }
    .t-marches  th.ui-table-priority-3,
    .t-marches td.ui-table-priority-3 {
        display: none;
    }

}

/* hack for orientation force on portrait */
@media only screen
and (orientation: portrait) 
{

    #mygraph {
        height: 100%;
        width: 100%;


    }

    #change-orientation{

        background-color: white;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10000;
    }
    
    #change-orientation p{
        text-align:left;
        padding:20px;
        margin-top:50px;
        font-size:18pt;

    
    }



}

@media only screen
and (orientation: landscape) 
{
      #change-orientation{
        display:none;
        width: 100%;
        height: 100%;
    }
    
    .bz-menu{
        height: 260px;

    }


}

@media ( min-width: 40em ) {
    /* Show the table header rows and set all cells to display: table-cell */
    .t-marches td,
    .t-marches th,
    .t-marches tbody th,
    .t-marches tbody td,
    .t-marches thead td,
    .t-marches thead th {
        display: table-cell;
        margin: 0;
    }

}

/* retina */
@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

}

/* en attente solution pour flip switch*/
.ui-flipswitch-active{
    background-color: #83B81A!important;
}



/*! jQuery UI - v1.10.4 - 2014-04-21
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #877062;
	background-color: white;
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	background-color: #877062;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	font-weight: bold;
	color: #83B81A !important;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url("themes/images/datepicker/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #c77405;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #fbd850;
	background: #ffffff url("themes/images/datepicker/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #eb8f00;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #fed22f;
	background: #ffe45c url("themes/images/datepicker/ui-bg_highlight-soft_75_ffe45c_1x100.png") 50% top repeat-x;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900 url("themes/images/datepicker/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_ffffff_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_ef8c08_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_ef8c08_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_ef8c08_256x240.png");
}
.ui-state-highlight .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_228ef1_256x240.png");
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url("themes/images/datepicker/ui-icons_ffd27a_256x240.png");
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
	border-top-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
	border-top-right-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
	border-bottom-left-radius: 4px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #666666 url("themes/images/datepicker/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	background: #000000 url("themes/images/datepicker/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px;
}

.ui-popup-screen.in{
    opacity: .9;
}


.acc-offre-ico{
    margin-top: 10px;
}



